@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primario: #895C24;
  --color-primario2: #6E471B;
  --blanco: #FFFFFF;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--color-primario);
}

#ImgPrinc {
  text-align: center;
  position: relative;
  width: 100%;
}

#ImgPrinc p{
  padding: 1em 2em;
}

#ImgPrinc::before{
  content: "";
  position: absolute;
  background-image: url("../../public/images/img_principal2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  z-index: -1;
}

h1{
  font-size: 36px !important;
  font-family: serif !important;
  font-weight: bold !important;
}

h2{
  font-size: 32px !important;
  font-family: serif !important;
  font-weight: bold !important;
  text-align: center;
}

h2,h3{
  margin: 1.5em auto 0px;
}

h3{
  font-size: 24px !important;
  font-family: serif !important;
  font-weight: bold !important;
  text-align: center;
}

.boton-nav{
  font-size: 20px;
  font-weight: bold;
}

p{
  font-size: 18px;
  font-family: sans-serif;
  /* text-align: justify; */
  hyphens: auto;
  padding: 1em 2em;
  max-width: 850px;

}

h1,h2,h3{
  max-width: 850px;
}

